@font-face {
	font-family: 'CommandPrompt';
	src: url('./fonts/windows_command_prompt.ttf') format('truetype'),
	    url('./fonts/Command-Prompt.woff2') format('woff2'),
	    url('./fonts/Command-Prompt.woff') format('woff');
}
@font-face {
	font-family: 'PressStart';
	src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}
* {
	--cmd-line-green: #02FF66;
	--cmd-line-red: #B22222;
    font-family: 'PressStart', Arial;
    margin: 0;
}
h5 {
	font-size: 12px;
}
.app {
    background-color: #021D01;
    color: #FFF;
    width: 100%;
}
.application {
    border: solid #FFF;
    margin-bottom: 8px;
    padding: 8px;
}
.application:hover {
    background-color: #FFF;
    color: #000;
    cursor: pointer;
}
.application.selected {
    background-color: #FFF;
    color: #000;
}
.application-name {
    font-size: 12px;
    margin: 8px;
}
.btn-light {
	background-color: lightgrey;
}
.button {
	border: solid #FFF;
	cursor: pointer;
	font-size: 12px;
	margin: 8px 4px 8px 4px;
	padding: 8px;
	text-align: center;
}
.button.icon {
	padding: 5px 0px 5px 0px;
}
.svg-poop:hover {
	fill: #000;
}

.button-small {
	border: solid #FFF;
	cursor: pointer;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

.button:hover, .button-small:hover {
	background-color: #FFF;
	color: #000;
}

.button-danger {
	border: solid var(--cmd-line-red);
}
.button-danger:hover {
	background-color: var(--cmd-line-red);
	border: solid var(--cmd-line-red);
	color: #000;
}

.button-success {
	border: solid var(--cmd-line-green);
}
.button-success:hover {
	background-color: var(--cmd-line-green);
	border: solid var(--cmd-line-green);
	color: #000;
}

.drag-handle {
	fill: #FFF;
	stroke: #FFF;
}
.list-item {
	font-size: 12px;
	padding: 4px;
	width: 100%;
}
.list-name {
	border: solid #FFF;
	font-size: 12px;
	margin: 8px;
	padding: 4px;
}
.list-name:hover, .list-name-selected {
	background-color: #FFF;
	color: #000;
	cursor: pointer;
}
.modal-60w {
	max-width: 60%;
	width: 60%;
}
.modal-content {
	border-radius: 0;
}
.toggle-handle {
	background-color: #FFF;
	border-radius: 0px;
}
.window {
	border: 2px solid var(--cmd-line-green);
    margin: 16px;
}
.window-banner {
	background-color: var(--cmd-line-green);
    color: #000;
    font-size: 10px;
    height: 16px;
    padding-top: 2px;
    text-align: center;
}
.window-content {
	height: 100%;
}
#application-window {
    border: 2px solid var(--cmd-line-green);
    margin: 16px;
}
#application-window-banner {
    background-color: var(--cmd-line-green);
    color: #000;
    font-size: 10px;
    height: 16px;
    padding-top: 2px;
    text-align: center;
}
#application-window-content {
	height: 100%;
}
#applications {
    margin: 8px;
}
#banner {
    background-color: var(--cmd-line-green);
    color: #000;
    font-size: 10px;
    height: 16px;
    padding-top: 4px;
    text-align: center;
}
#sidebar {
    /*background-color: #000;*/
}
#task-creator {
	display: flex;
}
#tasks {
	font-size: 12px;
}
#tasks-today-body {
	/* border: solid #FFF; */
	width: 100%;
}
#viewport {
    display: flex;
    flex-direction: row;
}
