.task {
	border: solid var(--cmd-line-green);
	cursor: pointer;
	font-size: 10px;
	margin: 8px;
	padding: 8px;
}
.task.emergency {
	border-color: #bd2130;
}
.task.soon {
	border-color: yellow;
}
.task.urgent {
	border-color: orange;
}
.task:hover {
	border: solid #FFF;
}
